.product-cont{
    width: 100%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;

    .products-section{
        width: 100%;
        display: flex;
        // align-items: center;
        // justify-content: center;
        // margin-left: 40px;

        .products{
            flex : 3;
            display: grid;
            justify-items: center;
            grid-template-columns:repeat(auto-fit,minmax(185px,1fr));
            grid-gap: 35px;
            width: 100%;
            margin: 10px 25px 10px;
            transition: 0.5s ease;
        
        }

        .details{
           flex : 1.5;
           
        }

    }

}
